@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

  }
/* Fix Razorpay modal invalid svg width/height */
svg[width="auto"], svg[height="auto"] {
  width: 16px !important;
  height: 16px !important;
}


@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.animate-fadeInOut {
  animation: fadeInOut 1.2s ease-in-out infinite;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-list {
  overflow: hidden !important;
}
